<h2>Template - Dinámicos</h2>
<hr />

<form (ngSubmit)="guardar()" #miFormulario="ngForm">
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre:</label>
    <div class="col-sm-9">
      <input
        [ngModel]="persona.nombre"
        type="text"
        class="form-control"
        name="nombre"
        placeholder="Nombre"
        required
      />
      <span *ngIf="validarInput()" class="form-text text-danger"
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar juego favorito"
          [(ngModel)]="nuevoFavorito"
          name="nuevoFavorito"
          (keyup)="agregarJuego()"
        />
        <button class="btn btn-outline-primary" (click)="agregarJuego()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos:</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let favorito of persona.favoritos; let i = index"
      >
        <input
          class="form-control"
          [(ngModel)]="favorito.nombre"
          [name]="favorito.nombre"
          required
        />
        <button class="btn btn-outline-danger" (click)="eliminar(i)">
          Borrar
        </button>
      </div>
      <span *ngIf="validarInput()" class="form-text text-danger"
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
