<h2>Template - Básicos</h2>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label fw-bold">Producto:</label>
        <div class="col-sm-9">
          <input
            [ngModel]="initForm.producto"
            name="producto"
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            required
            minlength="3"
          />
          <span *ngIf="validarNombre()" class="form-text text-danger"
            >Debe tener al menos 3 letras</span
          >
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label fw-bold">Precio:</label>
        <div class="col-sm-9">
          <input
            [ngModel]="initForm.precio"
            name="precio"
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            required
            customMin
            [minimo]="0"
          />
          <span *ngIf="validarPrecio()" class="form-text text-danger"
            >El precio de be ser mayor a 0</span
          >
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label fw-bold">Existencias:</label>
        <div class="col-sm-9">
          <input
            [ngModel]="initForm.existencias"
            name="existencias"
            type="number"
            class="form-control"
            placeholder="Existencias del producto"
            customMin
            [minimo]="0"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            [disabled]="miFormulario.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
